<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Products</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h1>Product</h1>-->
<!--    <span th:text="${selectProduct}"/>-->
<!--</div>-->

<head>
    <meta charset="utf-8"/>
    <title>Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Product</h1>
    <!--    <span th:if="${products.size() == 0}">Products List is empty</span>-->
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Price</td>
            <!--            <td></td>-->
            <!--            <td></td>-->
        </tr>
        </thead>
        <tbody>
        <!--        <tr th:each="product : ${selectProduct}">-->
        <td th:text="${selectProduct.id}"/>
        <td th:text="${selectProduct.title}"/>
        <td th:text="${selectProduct.price}"/>
        <!--            <td><a class="btn btn-secondary" th:href="@{'/products/' + ${product.id}}">Details</a></td>-->
        <!--            <td><a class="btn btn-danger" th:href="@{'/products/delete/' + ${product.id}}">Delete</a></td>-->
        </tr>-->
        </tbody>
    </table>
</div>
</body>